@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    overflow-x: hidden;
}
body{

    overflow-x: hidden;
    margin: 0px auto;  
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #DA3B3F 100%), linear-gradient(179.29deg, #CF2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
    mix-blend-mode: normal;

}


.menu-burguer{

    position: absolute;
    cursor: pointer;
    width: 10px;
    height: 20px;
    left: 75px;
    top: 41px;
    display: flex;
    
}
.line{
    border: 1px solid #FFFFFF;
    margin: 1px;
    position: absolute;
    left: 75px;
}
.menu-burguer:hover .line:nth-child(1){
    width: 25px;
}
.menu-burguer:hover .line:nth-child(2){
    width: 36px;
}
.menu-burguer:hover .line:nth-child(3){
    width: 36px;
}

.menu-burguer .line:nth-child(1){

    position: absolute;
    transition: .4s all ease-in-out;
    width: 36px;
    height: 0px;
    top: 49px;

}
.menu-burguer .line:nth-child(2){
        
    position: absolute;
    transition: .4s all ease-in-out;
    width: 24px;
    height: 0px;
   
    top: 57px;
    

}
.menu-burguer .line:nth-child(3){

    position: absolute;
    transition: .4s all ease-in-out;
    width: 24px;
    height: 0px;
    top: 41px;
    

}
.menu-burguer span{
    
    position: absolute;
    width: 41px;
    height: 19px;
    left: 131px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}
main{

    
    width: 1440px;
    margin: 0px auto; 
    display: flex;
    height: 100% ;
    flex-direction: row;
    align-items: center;
   
}
.content-image{
    padding: 0;
    margin: 0;
    z-index: 99;
    position: absolute;

    
    left: 45%;
    top: 72px;
    background: no-repeat url(content-image.png);
    filter: drop-shadow(0px 100px 30px rgba(0, 0, 0, 0.2));

}
.content-text{
    z-index: 99;
    position: absolute;

    width: 212px;
    height: 88px;
    left: 32%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: right;

    color: #FFFFFF;

}
.logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 90%;
}
.map-image{
    
    width: 64px;
    height: 34.48px;
    background: url(map-image.svg);
}
footer span{
    
    
    width: 45px;
    height: 14px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    

    text-align: right;

    color: #FFFFFF;

}




.background{

    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    

}

@media (max-width: 800px){
html,body{
    height: calc(100vh + 100px);
}
.logo-footer{
    left: 80%;
}
.menu-burguer{
    top: 1px;
    left: 1px;
}
.menu-burguer span{
    left: 70px;
}
.line{
    position: absolute;
    left: 20px;
}
.content-image{
    width: 115.8px;
    height: 350px;
    top: 130px;
    z-index: 10;
    left: 30vw;
    
}
main{
    flex-direction: column;
}

.content-text {
    text-align: center;
    position: absolute;
    top:60px ;
    left: 28vw;
    font-size: 30px ;
    z-index: 99;
}

}